.font-link {
    font-family: 'Roboto', bold;
}

.container {
    align-items: center;
}

body {
    background-color: #222222;   
}

.videoStyles {
    padding: 2rem;
}

.bajur_image {
    margin: 2rem;
    height: 30rem;
    border-radius: 1rem;
    transition: transform 0.5s, opacity 0.3s;
}

.bajur_image:hover {
    transform: scale(1.1);
    opacity: 1;
}


.bajur_image:not(:hover){
    opacity: 0.9;
}

.video-container {
    border-radius: 2rem;
    margin: 2rem;
}